In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import math

In [4]:
df = pd.read_csv('Data laboratorio 1/students.csv', sep=';')
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [5]:
df['Target'].unique()

array(['Dropout', 'Graduate', 'Enrolled'], dtype=object)

In [6]:
#Unificando Graduate + Enrolled
df['Target']=df['Target'].replace('Graduate','Enrolled')
df['Target'].unique()

array(['Dropout', 'Enrolled'], dtype=object)

In [7]:
#Separando en train test

In [8]:
#Tipos de datos, buscando los datos continuos
pd.set_option('display.max_rows', None)
df.dtypes

Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance\t                        int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [9]:
print(df.select_dtypes(include=['float']).columns)

Index(['Previous qualification (grade)', 'Admission grade',
       'Curricular units 1st sem (grade)', 'Curricular units 2nd sem (grade)',
       'Unemployment rate', 'Inflation rate', 'GDP'],
      dtype='object')

#### Preprocesing
* Unificar los valores graduate enrolled de Target
* Pasar los datos continuos a low mid y high (segÃºn aplique)
    * Previous Qualification
    * Admission Grade
    * Curricular units 1st sem (grade) - (no dice continuous en la pagina pero float)
    * Curricular units 2nd sem (grade) -    "
    * Unemployment rate
    * Inflation rate
    * GDP

In [10]:
#Pasando a categorÃ­as los calificaciones previas
df['Previous qualification (grade)'] = pd.cut(df['Previous qualification (grade)'], bins=3, labels=["low",'mid','high'], right=False)

In [11]:
df['Previous qualification (grade)'].unique()

['low', 'high', 'mid']
Categories (3, object): ['low' < 'mid' < 'high']

In [12]:
columns = df.select_dtypes(include=['float']).columns
for column in columns:
    df[column] = pd.cut(df[column], bins=3, labels=["low",'mid','high'], right=False)

In [13]:
df[df["Target"]=="Enrolled"].shape[0]

3003

#### ID3

In [14]:
#Calculo de la entropÃ­a total con respecto a la columna objetio
def entropia(df, objetivo, resultados):
    entropia = [0] * len(resultados)
    for i, val in enumerate(resultados):
        ci = df[df[objetivo]==val].shape[0]
        tot = df.shape[0]
        entropia[i]= -ci/tot * math.log(ci/tot) if not (ci==0) else 0
    return sum(entropia)

In [15]:
#EntropÃ­a del subconjunto
def entropiasbcjto(df, atributo, objetivo): #df datos, atributo que separa, columna objetivo
    valores = df[atributo].unique() #valores posibles del atributo
    aux = [0]*len(valores)
    s = df.shape[0] # cantidad de datos
    for i,valor in enumerate(valores):
        sv = df[df[atributo]==valor].shape[0] #cantidad de datos con atributo = valor
        EntrSv = entropia(df[df[atributo]==valor], objetivo, df[objetivo].unique())#EntropÃ­a de cada valor posible del atributo
        aux[i]=sv/s*EntrSv
    return sum(aux)

In [16]:
entropiasbcjto(df,"Application mode", "Target")

0.5833968508234656

In [17]:
# Information Gain
def info_gain(df, atributo, objetivo):
    return entropia(df, objetivo, df[objetivo].unique()) - entropiasbcjto(df, atributo, objetivo)

In [18]:
info_gain(df,"Gender", "Target")

0.020410823899658648

In [19]:
def max_info (df, objetivo):
    atributos = df.drop(objetivo,axis = 1).columns
    max_info = -1
    max_info_atrib = None

    for col in atributos:
        gain_col = info_gain(df, col, objetivo)

        if gain_col > max_info:
            max_info = gain_col
            max_info_atrib = col
    
    return max_info_atrib

In [20]:
max_info(df, "Target")

'Curricular units 2nd sem (approved)'

In [21]:
max_info(df.drop('Curricular units 2nd sem (approved)',axis=1), "Target")

'Curricular units 1st sem (approved)'

In [22]:
valores_cantidades = df["Nacionality"].value_counts(sort=False)
for valor, cantidad in valores_cantidades.items():
    print(valor,cantidad)
print

1 4314
62 2
6 13
41 38
26 14
103 3
13 1
25 2
21 2
101 2
11 3
22 13
32 1
100 3
24 5
109 1
2 2
108 1
105 2
14 1
17 1

In [23]:
resultados = df["Target"].unique()
print(resultados)
len(df[df["Target"]==resultados[0]])

['Dropout' 'Enrolled']

1421

In [73]:
#Generar sub arbol a partir de un atributo
def generar_subarbol(atributo, data, objetivo, min_gain_split):
    resultados = data[objetivo].unique() # Etiquetas resultado
    valores = data[atributo].unique() # valores del atributo
    tree = {} #subarbol

    for valor in valores:
        datos_valor = data[data[atributo]==valor] # me quedo con los datos de esta rama
        sig_nodo=max_info(datos_valor,objetivo)
        if info_gain(datos_valor, sig_nodo, objetivo) <= min_gain_split:#si no supera el umbaral de ganancia
            #cantidad de datos de cada etiqueta
            cant0 = len(datos_valor[datos_valor[objetivo]==resultados[0]])
            cant1 = len(datos_valor[datos_valor[objetivo]==resultados[1]])
            tree[valor] = resultados[0] if cant0>cant1 else resultados[1] #asigno la etiqueta mayoritaria
            data = data[data[atributo]!=valor] #Como es hoja saco estos datos
        
        if info_gain(datos_valor, sig_nodo , objetivo) > min_gain_split: #Si la rama aporta informaciÃ³n separo
            tree[valor]="?" #marco la rama a extender
         
    return tree, data

In [74]:
tree, data = generar_subarbol("Nacionality", df, "Target", 0)

In [77]:
for node, branch in list(tree.items()):
    print(node, branch)

1 ?
62 Enrolled
6 ?
41 ?
26 ?
103 ?
13 Enrolled
25 Enrolled
21 ?
101 ?
11 Enrolled
22 ?
32 Enrolled
100 ?
24 ?
109 Dropout
2 Enrolled
108 Enrolled
105 ?
14 Enrolled
17 Dropout

In [114]:
#Generar Ã¡rbol

def generar_arbol(raiz, val_prev, data, objetivo, min_gain_split):
    if data.shape[0]!=0: 
        sig_nodo = max_info(data,objetivo)
        arbol, data = generar_subarbol(sig_nodo, data, objetivo, min_gain_split)

        if val_prev != None :
            raiz[val_prev]={}
            raiz[val_prev][sig_nodo] = arbol
            nueva_raiz = raiz[val_prev][sig_nodo]

        if val_prev == None: # si es el comienzo del arbol
            raiz[sig_nodo]=arbol # raiz del arbol
            nueva_raiz = raiz[sig_nodo]

        for nodo, rama in list(nueva_raiz.items()):
            if rama =="?":
                generar_arbol(nueva_raiz, nodo, data[data[sig_nodo]==nodo], objetivo, min_gain_split)

In [115]:
arbol = {}
generar_arbol(arbol, None, df, "Target", 0.2)

In [116]:
arbol

{'Curricular units 2nd sem (approved)': {0: 'Dropout',
  6: 'Enrolled',
  5: 'Enrolled',
  8: 'Enrolled',
  2: 'Dropout',
  7: 'Enrolled',
  4: 'Enrolled',
  1: 'Dropout',
  3: 'Enrolled',
  10: {'Age at enrollment': {27: 'Dropout',
    24: 'Dropout',
    20: {'Application mode': {1: 'Enrolled', 42: 'Dropout'}},
    42: 'Enrolled',
    28: {'Course': {9991: 'Enrolled', 9003: 'Dropout'}},
    46: 'Enrolled',
    19: {"Mother's qualification": {1: 'Enrolled',
      4: 'Enrolled',
      19: 'Enrolled',
      3: 'Dropout'}},
    37: 'Enrolled',
    30: 'Enrolled',
    45: 'Enrolled',
    23: 'Enrolled',
    25: 'Dropout',
    21: {'Course': {9070: 'Dropout',
      9238: 'Enrolled',
      9147: 'Enrolled',
      8014: 'Enrolled'}},
    22: 'Enrolled',
    32: {'Course': {9003: 'Dropout', 9991: 'Enrolled', 8014: 'Enrolled'}},
    29: 'Enrolled',
    54: 'Dropout',
    39: 'Enrolled',
    41: 'Enrolled',
    26: 'Enrolled'}},
  13: 'Enrolled',
  11: {'Curricular units 1st sem (enrolled)': {10: 'Enrolled',
    11: 'Enrolled',
    12: 'Enrolled',
    15: {'Marital status': {1: 'Dropout', 2: 'Enrolled'}},
    16: 'Enrolled',
    13: 'Enrolled',
    17: 'Enrolled',
    14: 'Enrolled'}},
  19: 'Enrolled',
  9: {'Curricular units 1st sem (credited)': {11: 'Enrolled',
    10: {'Application mode': {43: 'Enrolled', 42: 'Enrolled', 7: 'Dropout'}},
    6: {"Mother's qualification": {37: 'Enrolled',
      1: 'Enrolled',
      3: 'Dropout',
      38: 'Enrolled',
      19: 'Enrolled'}},
    2: 'Enrolled',
    8: 'Enrolled',
    5: 'Enrolled',
    9: 'Dropout',
    0: 'Enrolled',
    7: 'Enrolled',
    12: 'Dropout',
    3: 'Enrolled',
    4: 'Enrolled',
    13: 'Dropout'}},
  12: {'Age at enrollment': {21: 'Enrolled',
    28: {'Marital status': {1: 'Enrolled', 2: 'Dropout'}},
    27: 'Enrolled',
    39: 'Enrolled',
    22: 'Enrolled',
    19: 'Enrolled',
    52: 'Enrolled',
    31: 'Enrolled',
    20: 'Enrolled',
    25: {'Application mode': {7: 'Dropout', 17: 'Dropout', 42: 'Enrolled'}},
    35: {'Marital status': {1: 'Enrolled', 2: 'Dropout'}},
    32: 'Enrolled',
    30: 'Enrolled',
    23: 'Enrolled',
    53: 'Enrolled',
    54: 'Enrolled',
    36: 'Enrolled',
    38: 'Dropout',
    24: 'Dropout',
    42: 'Dropout'}},
  17: 'Enrolled',
  14: 'Enrolled',
  20: 'Enrolled',
  16: 'Dropout',
  18: 'Enrolled'}}